<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head  th:replace="layout/plantilla :: head">
        <title th:text="${titulo}"></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <section class="col-12 col-sm-9 contenedor d-flex justify-content-center flex-column flex-wrap">
            <header th:replace="layout/plantilla :: header"></header>
            <section class="seccion1 row d-flex justify-content-center flex-wrap flex-column ">
                <h3 class="text-center m-auto text-light" th:text="#{index.titulo}"></h3>
                <a class="crear align-self-center " sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/agregar}">[[#{index.crear}]]</a>
                <div class="col-7 m-auto" th:if="${clientes != null and !clientes.empty}">
                    <table border="1" class="tabla table table-light table-striped table-hover rounded">

                        <tr class="">
                            
                            <th th:text="#{index.nombre}"></th>
                            <th th:text="#{index.apellido}"></th>
                            <th th:text="#{index.telefono}"></th>
                            <th th:text="#{index.correo}"></th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
                        </tr>

                        <tr class="" th:each="cliente : ${clientes}">
                            <td th:text="${cliente.nombre}"></td>
                            <td th:text="${cliente.apellido}"></td>
                            <td th:text="${cliente.telefono}"></td> 
                            <td th:text="${cliente.correo}"></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')" ><a class="editar" th:href="@{/editar/} + ${cliente.idCliente}" th:text="#{index.editar}"></a></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="eliminar" th:href="@{/eliminar/} + ${cliente.idCliente}" th:text="#{index.eliminar}"></a></td>
                        </tr>

                    </table>  
                </div>
                <div th:if="${clientes == null or clientes.empty}">
                    <h2>[[#{index.vacia}]]</h2>
                </div>
            </section>
            <footer class="bg-primary" th:replace="layout/plantilla :: footer"></footer>
        </section> 
    </body>
</html>
