<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{plantilla.titulo}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:fragment="header">
            <h1 th:text="#{plantilla.titulo}"></h1>
        </header>
        <footer th:fragment="footer">
            <p><span th:text="#{plantilla.desarrollado}"></span><a href="https://www.ramesptop.com">Ramesptopweb</a><span th:text="#{plantilla.year}"></span></p>
        </footer>        
    </body>
</html>
