<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title th:text="#{plantilla.titulo}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <a th:href="@{/agregar}" th:text="#{index.agregar}"></a>
        <div th:if="${libros != null && !libros.empty}">
            <table border="1">
                <tr>
                    <th th:text="#{index.titulo}"></th>
                    <th th:text="#{index.genero}"></th>
                    <th th:text="#{index.year}"></th>
                    <th> [[#{index.editar}]] </th> 
                    <th> [[#{index.eliminar}]] </th>
                </tr>
                <tr th:each="libro : ${libros}">
                    <td th:text="${libro.titulo}"></td>
                    <td th:text="${libro.genero}"></td>
                    <td th:text="${libro.year}"></td>
                    <td><a th:href="@{/editar/} + ${libro.idLibro}" th:text="#{index.editar}"></a></td>
                    <td><a th:href="@{/eliminar/} + ${libro.idLibro}" th:text="#{index.eliminar}"></a></td>
                </tr>
            </table>
        </div>
        <div th:if="${libros == null || libros.empty}">
            <h2 th:text="#{index.vacia}"></h2>
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
