<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title th:text="${titulo}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 th:text="${titulo}"></h1>
        <a th:href="@{/agregar}" th:text="Agregar"></a>
        <div th:if="${libros != null && !libros.empty}">
            <table border="1">
                <tr>
                    <th th:text="Titulo"></th>
                    <th th:text="Genero"></th>
                    <th th:text="Año"></th>
                    <th> Editar </th> 
                    <th> Eliminar </th>
                </tr>
                <tr th:each="libro : ${libros}">
                    <td th:text="${libro.titulo}"></td>
                    <td th:text="${libro.genero}"></td>
                    <td th:text="${libro.year}"></td>
                    <td><a th:href="@{/editar/} + ${libro.idLibro}" th:text="Editar"></a></td>
                    <td><a th:href="@{/eliminar/} + ${libro.idLibro}" th:text="Eliminar"></a></td>
                </tr>
            </table>
        </div>
        <div th:if="${libros == null || libros.empty}">
            <h2>La lista esta vacia</h2>
        </div>
    </body>
</html>
